use Mix.Config

# Configure your database
config :bankingAccount, BankingAccount.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "",
  database: "bank_account_dev",
  hostname: "localhost",
  pool_size: 10
