use Mix.Config

# Configure your database
config :bankAccount, BankingAccount.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "",
  database: "banking_account_test",
  hostname: "localhost",
  pool: Ecto.Adapters.SQL.Sandbox
